---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';

const pageTitle = "关于我";

const identity = {
  firstName: "Ikun",
  country: "China",
  occupation: "技术撰稿人",
  hobbies: ["Game", "Code", "Music"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];
const happy = true;
const finished = false;
const goal = 3;
---

<BaseLayout pageTitle={pageTitle} activePage="about">
  {
    happy ? (
      <p>我是 {identity.firstName}，来自 {identity.country}，是一名 {identity.occupation}。</p>
    ) : (
      <p>我是 {identity.firstName}，来自 {identity.country}。</p>
    )
  }
</BaseLayout>
